#header ul li {
    list-style-type:none;
}

#TopMenu{
    background-color:#563d7c !important;
    margin-top:5px;

}
.txtUsername{
    color:#faf0f0;
    margin-top:20px;
    margin:20px 10px 20px 10px;
}
#TopMenu ul li a{
    margin-top:10px;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:10px;
}

#TopMenu ul{
    margin:0px;
}

#header ul li .btn-link{
    color: #cbbde2;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
    font-family: Arial;
}

#header ul li .btn-link:hover {
    color: #ffffff;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
    font-family: Arial;
    border:1px solid #fff;
    border-radius:5px;
}

#header img{
    max-width: 100%;
    display: block;
    margin: auto;
    box-shadow: none;
    border: none;
    padding: 0px;
}




#footer ul li a{
    color: #333333; 
}

#footer ul li{
    list-style-type:none;
    margin-top:10px;
    text-align:left;
}

#footer ul{
    margin-top:20px;
    padding:0px;
    margin-left:20px;
}

#footer{
    height:200px;
    background-color: #e6e6e6;
    text-align:center;
    margin-top:20px;
}

#footer #TextFooter{
    text-align:center;
    font-size:14px;
    line-height: 1.4;
    margin-top: 30px;
}

#footer{
   /*position:absolute;*/
   bottom:0;
}